.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 50px;
  padding: 20px;
  background-color: #de627b;
  color: white;
}

.footer h2 {
  font-size: 15px;
}
